<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>USER MANAGEMENT SYSTEM</title>
    <script type = "text/javascript"
            src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script>
        function deleteUser(id){
        console.log(id);
            $.ajax({
                url: 'http://localhost:8080/delete/'+id,
                method: "GET",
                success: function() {
                    alert("The user has been deleted. Please refresh the page.");
                },
                error: function (error){
                    alert(error);
                }
            })
        }
    </script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Users List</h1>
    <div class="container my-2">
        <table border="1" class = "table table-stripped table-responsive-md">
            <thead>
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.age}"></td>
                <td>
                    <a th:href="@{/update/{id}(id=${user.id})}" class="btn btn-primary">Update</a>
                    <button th:attr="onclick='deleteUser(\'' + ${user.getId()}+  '\');'" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <a th:href= "@{/newUser}" class=" btn btn-primary btn-sm mb-3"> Add User</a>
    </div>
</body>
</html>