<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Car Registration System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>User Registration System</h1>
  <hr>
  <h2>Save Car</h2>

  <form action="#" th:action="@{/update/newCar/{id}(id=${car.userId})}" th:object="${car}"
        method="POST">
    <input type="hidden" th:field="*{userId}"/>
    <div>
      <td>Car name:</td>
      <td><input type="text" th:field="*{carName}" required minlength="4" maxlength="30"/></td>
      <div th:if="${#fields.hasErrors('carName')}" th:errors="*{carName}">Car Model Error</div>

      <td>Car model:</td>
      <td><input type="text" th:field="*{carModel}" required minlength="2" maxlength="25"/></td>
      <div th:if="${#fields.hasErrors('carModel')}" th:errors="*{carModel}">Car Model Error</div>

      <td>Car age:</td>
      <td><input type="number" min="0" max="80" th:field="*{carAge}" /></td>
      <div th:if="${#fields.hasErrors('carAge')}" th:errors="*{carAge}">Car Age Error</div>
    </div>
    <button type="submit" class="btn btn-info col-2"> Save User</button>
  </form>

  <hr>

  <a th:href = "@{/}"> Back to User Update Page</a>
</div>
</body>
</html>