<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Car Registration System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>User Registration System</h1>
  <hr>
  <h2>Save Car</h2>

  <form action="#" th:action="@{/update/newCar/{id}(id=${car.userId})}" th:object="${car}"
        method="POST">
    <input type="hidden" th:field="*{userId}"/>
    <label for="car-name-label">Car name:</label>
    <input id="car-name-label" th:type="text" th:field="*{carName}"
           placeholder="Car Name" class="form-control mb-4 col-4">
    <label for="car-model-label">Car model:</label>
    <input id="car-model-label" th:type="text" th:field="*{carModel}"
           placeholder="Car Model" class="form-control mb-4 col-4">
    <label for="car-age-label">Car age:</label>
    <input id="car-age-label" th:type="number" th:field="*{carAge}"
           placeholder="Car Age" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2"> Save User</button>
  </form>

  <hr>

  <a th:href = "@{/}"> Back to User Update Page</a>
</div>
</body>
</html>